
<div class="w-full h-screen flex flex-col gap-5 px-6 py-1 overflow-y-auto" id="sidebar">
  <div class="border-b border-b-slate-400 p-4">
    <h1 class="text-start text-4xl font-bold ">
      GifsApp
    </h1>
  </div>
  <div class="w-full grid grid-cols-1 gap-3 place-items-center mt-4">
    <button
    class="border rounded w-full p-2 text-md hover:shadow-white hover:scale-105 hover:shadow hover:border-slate-500 transition-all duration-200 ease-in"
    *ngFor="let tag of tags; let evenItem = even"
    [ngClass]="{ 'bg-slate-500/90': evenItem }"
    (click)="setTags(tag)"
    >
      {{ tag | titlecase }}
    </button>
  </div>
</div>
